---
layout: default
---
{% include header.html %}
{% include nav.html %}

<body>
  <div class="grid">
    <header>
      <h1>About Me</h1>
    </header>
    
    
    <article class="about">
      <h3>IT Autobiography</h3>
    <img id="zero" src="/assets/images/Me.jpg" alt="Me"><br>
    
    <br>
    <p>Prior to coming to SAIT for Information Technology I was an Administrative Assistant. Some of the fields I have worked in are medical, oil & gas, IT and retail. When I worked in the IT field as an Administrative Assistant/ Receptionist I supported two Associate Vice Presidents (AVP). One AVP was Infrastructure and the other was eCommerce. I was in charge of a variety of tasks in my role, one of them was ServiceNow, I had to input data of a new hire in order for them to have access to files and programs within their department. While working there I decided to look into SAIT’s IT program to see if it was at all possible for me to get educated in something I enjoyed doing and I read over all the majors and chose Software Developer because I had hope to become a Data Administrator. That all changed quickly once I experienced Web Development, right then I knew what my career path was supposed to be. </p>
    <p><blockquote>I am a Strong independant Woman. I can Do it. I Shall do it. I Will do it.</blockquote> </p>
    
    <p> Once I was done my first year as a Software Developer and dabbled in some other areas of IT which peaked my interest I decided to change my major to Web Developer. What I really enjoyed about website design was the fact that I could see the results in real time. Learning the aspects of interface design and how to layout webpages to be user friendly. I believe I am on the right path to a great career in something I will enjoy doing in the years to come.</p>
  </article>

  {% include footer.html %}